.DS_Store
.env

.venv

# For ignoring debug files related to 14_HeyGen mini project
voices_response.json
avatar_response.json

dataset_linkedin-profile-scraper_2025-03-15*.json

scratch

generated_scripts_*.json
staged_profiles.json